a {
  color: $color--white;
  cursor: pointer;
  outline: none !important;
  &:hover {
    //opacity: 0.5;
  }
  @include hover;
  @supports (text-underline-offset: 0.2em) {
    text-underline-offset: 0.2em;
  }
  @supports not (text-underline-offset: 0.2em) {
    text-underline-position: under;
  }
}
