body {
  height: 100%;
  @include font-styles(s, m);
  font-family: $font--base;
  color: $color--font--default;
  background-color: $color--black;
  font-feature-settings: 'kern' on, 'liga' on;
  font-kerning: normal;
  -webkit-font-smoothing: antialiased; /* Chrome, Safari */
  -moz-osx-font-smoothing: grayscale; /* Firefox */
}
