%button {
  @include font-size(s);
  font-family: inherit;
  font-weight: normal;
  -webkit-appearance: none;
  text-decoration: none;

  margin: $gutter--m auto 0;
  display: inline-flex;
  cursor: pointer;
  padding: 0.2em $gutter--xxl 0;
  border: $border--default;

  background-color: $color--black;
  color: $color--white;

  @include to($breakpoint--mobile) {
    height: $form-item--height--s;
    line-height: $form-item--height--s;
  }

  @include from($breakpoint--desktop) {
    line-height: $form-item--height--m;
    height: $form-item--height--m;
  }
}

button {
  @extend %button;
}

.button {
  @extend %button;
}

.button--icon {
  position: relative;
  .icon {
    position: absolute;
    left: $gutter--s;
    top: 50%;
    transform: translateY(-50%);
  }
}

.button--inverted {
  background-color: $color--white;
  color: $color--black !important;
}

.button--outline {
}
