h1 {
  @include font-styles(heading-xs, heading-m);
  margin: 0 0 0.4em;
  font-weight: normal;
  text-transform: uppercase;
  hyphens: auto;
}

h2 {
  @include font-styles(heading-xs, heading-s);
  margin: 0 0 0.4em;
  font-weight: normal;
  text-transform: uppercase;
  hyphens: auto;
}

h3 {
  @include font-styles(heading-xxs, heading-xs);
  margin: 0 0 0.4em;
  font-weight: normal;
  text-transform: uppercase;
  hyphens: auto;
}

h4 {
  @include font-styles(heading-m, heading-l);
  margin: 0 0 0.4em;
  font-weight: normal;
  text-transform: uppercase;
}

.page-title {
  @include font-styles(heading-l, heading-xxxl);
  margin: 0;
}

.page-subtitle {
  @include font-styles(heading-xxs, heading-m);
}

.section-title {
  @include font-styles(heading-xs, heading-s);
  text-transform: uppercase;
}

.spearator {
  margin-top: $gutter--xl;
  padding-top: $gutter--xl;
  border-top: $border--light;
}
