html {
  height: 100%;
  overflow-y: scroll;
  scroll-behavior: smooth;

  @include to($breakpoint--mobile) {
    /* prettier-ignore */
    @include fluid-size(
      $min-viewport-width: 320px,
      $max-viewport-width: $breakpoint--l,
      $min-value: 16px,
      $max-value: 16px * 1.5
    );
  }

  @include from($breakpoint--desktop) {
    @include fluid-size(
      $min-viewport-width: 1280px,
      $max-viewport-width: 1920px,
      $min-value: 16px,
      $max-value: 16px * 1.2
    );
  }
}
