p {
  margin: 0 0 1em;
  hyphens: auto;
}

.large-text {
  @include from($breakpoint--desktop) {
    @include font-size(xl);
  }
}

.two-columns {
  @include from($breakpoint--desktop) {
    column-count: 2;
  }
}
.text-container {
  @include text-container;
}
