svg {
  display: block;
}

.icon {
  @include to($breakpoint--mobile) {
    width: $icon-size--s;
    height: $icon-size--s;
  }
  @include from($breakpoint--desktop) {
    width: $icon-size--m;
    height: $icon-size--m;
  }
}

.inline-icon-container {
  display: flex;
  align-items: center;
  .icon {
    margin-right: $gutter--xs;
  }
}
