<template>
  <section class="funding">
    <h2 class="funding__title">Funding</h2>
    <div class="funding__content">
      <article class="funding__item" v-for="item in items" :key="item.title">
        <a :href="item.link">
          <svg-icon :name="item.icon" :title="item.title" />
        </a>
      </article>
    </div>
  </section>
</template>

<script>
export default {
  data() {
    return {
      items: [
        {
          title: 'Pro Helvetia',
          icon: 'logo_ph.svg',
          link: 'https://prohelvetia.ch/'
        },
        {
          title: 'Ernst Göhner Stiftung',
          icon: 'logo_egs.svg',
          link: 'http://www.ernst-goehner-stiftung.ch/'
        },
        {
          title: 'Popkredit',
          icon: 'logo_stadt.svg',
          link:
            'https://www.stadt-zuerich.ch/kultur/de/index/foerderung/jazz_rock_pop.html'
        }
      ]
    }
  }
}
</script>

<style lang="scss" scoped>
.funding {
  @include container;
  margin-bottom: $gutter--l;
  &__content {
    @include from($breakpoint--desktop) {
      display: flex;
      margin: 0 #{-$grid--gutter--default};
    }
  }
  &__item {
    @include from($breakpoint--desktop) {
      margin: 0 $grid--gutter--default;
    }
    .icon {
      @include to($breakpoint--mobile) {
        height: auto;
        width: 50vw;
      }

      @include from($breakpoint--desktop) {
        height: auto;
        width: 300px;
        max-width: 100%;
      }
    }
  }
}
</style>
