<template>
  <div class="logo">
    <nuxt-link to="/" class="logo__link">
      <!--<svg-icon name="logo" title="kapsel.space" class="logo__icon" />-->
      <div class="logo__name">kapsel.space</div>
    </nuxt-link>
  </div>
</template>
<style lang="scss" scoped>
.logo {
  margin-right: $gutter--xs;
  @include font-styles(heading-xxs, heading-xs);
  &__link {
    display: flex;
    align-items: center;
    @include underline-remove;
  }
  &__icon {
    height: $header-height-s;
    width: $header-height-s;
    margin-right: $gutter--xs;
    @include from($breakpoint--desktop) {
      height: $header-height-m;
      width: $header-height-m;
    }
  }
  &__image {
  }
}
</style>
