<template>
  <button
    @click="handleClick"
    :class="{
      'navigation-toggle': true,
      'navigation-toggle--open': !state
    }"
  >
    <div class="navigation-toggle__icon">
      <div
        :class="{
          'navigation-toggle__bar': true,
          'navigation-toggle__bar--top-open': !state,
          'navigation-toggle__bar--top-close': state
        }"
      />
      <div
        :class="{
          'navigation-toggle__bar': true,
          'navigation-toggle__bar--bottom-open': !state,
          'navigation-toggle__bar--bottom-close': state
        }"
      />
    </div>
  </button>
</template>

<script>
import { mapGetters } from 'vuex'
export default {
  props: {
    state: {
      type: Boolean,
      default: false
    }
  },
  computed: {
    ...mapGetters('global', ['navigation'])
  },
  methods: {
    handleClick() {
      this.$emit('click', !this.state)
    }
  }
}
</script>

<style lang="scss" scoped>
.navigation-toggle {
  width: $navigation-toggle-size-s;
  height: $navigation-toggle-size-s;
  padding: 6px;
  margin: 0;
  border: none;
  background-color: transparent;
  color: inherit;
  outline: none;

  @include to($breakpoint--mobile) {
    .page-header & {
      //position: fixed;
      //right: $page--margin--s;
    }
  }
  @include from($breakpoint--desktop) {
    display: none;
    /*padding: 8px;
    width: $navigation-toggle-size-m;
    height: $navigation-toggle-size-m;*/
  }

  &__icon {
    position: relative;
    width: 100%;
    height: 100%;
  }

  &__bar {
    content: '';
    display: block;
    height: $border-width--xl;
    position: absolute;
    width: 100%;
    transform: translate3d(0, 0, 0);

    background-color: currentColor;

    &--top-open {
      top: calc(50% - 6px);
    }
    &--bottom-open {
      bottom: calc(50% - 6px);
    }

    &--top-close,
    &--bottom-close {
      top: calc(50% - #{$border-width--xl/2});
      //transform-origin: center;
    }

    &--top-close {
      transform: rotate(45deg);
    }
    &--bottom-close {
      transform: rotate(-45deg);
    }
  }
}
</style>
