<template>
  <div
    :class="{ 'navigation--open': navigation.state }"
    @click="handleClick"
    class="navigation"
  >
    <div class="navigation__wrapper">
      <div class="navigation__content">
        <aside class="navigation__primary">
          <navigation-links :items="navigation.items.primary" />
        </aside>
        <div class="navigation__meta">
          <navigation-links :items="navigation.items.meta" />
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
import NavigationToggle from '@/components/layout/NavigationToggle'
import NavigationLinks from '@/components/layout/NavigationLinks'

export default {
  components: {
    NavigationToggle,
    NavigationLinks
  },
  computed: {
    ...mapGetters('global', ['navigation', 'socialLinks'])
  },
  mounted() {
    window.addEventListener('keyup', (e) => {
      if (e.keyCode === 27) {
        this.setState(false)
      }
    })
  },
  methods: {
    handleClick(event) {
      if (event.target.tagName === 'A') {
        this.setState(false)
      }
    },
    handleToggleClick(state) {
      this.setState(state)
    },
    setState(state) {
      this.$store.dispatch('global/setNavigationState', state)
    }
  }
}
</script>

<style lang="scss" scoped>
.navigation {
  @include to($breakpoint--mobile) {
    z-index: 100;
    position: fixed;
    left: 0;
    top: $header--total-height-s + $border-width--l;
    width: 100%;

    background-color: $color--black;

    visibility: hidden;
    opacity: 0;
    transition: opacity $animation--duration--m $animation--timing--default,
      visibility 0s linear $animation--duration--m;
  }

  &--open {
    visibility: visible;
    opacity: 1;
    transition: visibility 0s,
      opacity $animation--duration--m $animation--timing--default;
  }

  &__wrapper {
    @include to($breakpoint--mobile) {
      padding: $header-padding-s $gutter--s;
      border-bottom: $border--default;
    }
  }

  &__header {
    position: relative;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include from($breakpoint--desktop) {
      display: none;
    }
  }

  &__header-wrapper {
    display: flex;
  }
  &__content {
    @include to($breakpoint--mobile) {
    }
    @include from($breakpoint--desktop) {
    }
  }
  &__primary {
    @include to($breakpoint--mobile) {
      //height: 100vh;
    }
    //@include font-styles(heading-s, heading-xxl);
    @include from($breakpoint--desktop) {
      //@include grid-item(50%);
    }
  }
  &__meta {
    @include from($breakpoint--desktop) {
      position: absolute;
      right: 0;
      bottom: $header-padding-m;
    }
  }
}
</style>

<style lang="scss">
.navigation {
  &__meta {
    @include from($breakpoint--desktop) {
      @include inline-navigation;
    }
    @include to($breakpoint--mobile) {
      @include inline-navigation(right);
    }
  }
}
</style>
