<template>
  <nav class="navigation-links">
    <ul class="navigation-links__list">
      <li
        :key="i"
        v-for="(item, i) in items"
        class="navigation-links__list-item"
      >
        <nuxt-link
          v-if="!item.to.startsWith('http')"
          :to="item.to"
          v-text="item.title"
          class="navigation-links__link"
          router
          exact
        />
        <a
          v-else
          :href="item.to"
          v-text="item.title"
          class="navigation-links__link"
          target="_blank"
        />
      </li>
    </ul>
  </nav>
</template>

<script>
export default {
  props: {
    items: {
      type: Array,
      default: () => []
    }
  }
}
</script>

<style lang="scss" scoped>
.navigation-links {
  &__list {
    list-style: none;
    margin: 0;
    padding: 0;

    @include from($breakpoint--desktop) {
      display: flex;
    }
  }

  &__link {
    display: inline-block;
    @include underline-remove;

    padding: $gutter--xs 0;

    @include from($breakpoint--desktop) {
      padding: $gutter--s 0;
      margin-left: $gutter--l;
    }

    &.nuxt-link-active {
      @include underline;
    }
  }
}
</style>
