<template>
  <footer class="page-footer">
    <span class="page-footer__brand">kapsel.space</span>
    <div class="page-footer__link-wrapper">
      <navigation-links
        :items="navigation.items.footer"
        class="page-footer__navigation"
      />
      <social-links :items="socialLinks" />
    </div>
  </footer>
</template>

<script>
import { mapGetters } from 'vuex'
import NavigationLinks from '@/components/layout/NavigationLinks'
import SocialLinks from '@/components/global/SocialLinks'

export default {
  components: {
    SocialLinks,
    NavigationLinks
  },
  computed: {
    ...mapGetters('global', ['navigation', 'socialLinks'])
  }
}
</script>

<style lang="scss" scoped>
.page-footer {
  @include container;
  display: flex;
  align-items: center;
  padding-top: $gutter--l;
  padding-bottom: $gutter--l;
  background-color: $color--black;
  border-top: $border--default;

  @include to($breakpoint--mobile) {
    flex-direction: column;
    align-items: center;
  }

  @include from($breakpoint--desktop) {
    justify-content: space-between;
  }

  &__brand {
    @include to($breakpoint--mobile) {
      margin-top: $gutter--s;
      order: 1;
    }
  }
  &__link-wrapper {
    display: flex;
    align-items: center;
  }
}
</style>

<style lang="scss">
.page-footer {
  &,
  a {
    color: $color--white;
  }
  .navigation-links {
    &__list {
      @include to($breakpoint--mobile) {
        display: flex;
      }
    }
    &__list-item {
      @include to($breakpoint--mobile) {
        margin: 0 $gutter--xs;
      }
    }
  }
  &__navigation {
    margin-right: $gutter--s;
  }
  .social-links {
    flex-wrap: nowrap;
  }
}
</style>
