<template>
  <header class="page-header">
    <div class="page-header__wrapper">
      <div class="page-header__logo-player">
        <logo />
      </div>
    </div>
  </header>
</template>

<script>
import { mapGetters } from 'vuex'
import Logo from '@/components/layout/Logo'
export default {
  components: {
    Logo
  },
  computed: {
    ...mapGetters('global', ['navigation'])
  },
  methods: {
    handleToggleClick(state) {
      this.$store.dispatch('global/setNavigationState', state)
    }
  }
}
</script>
<style lang="scss" scoped>
.page-header {
  position: fixed;
  width: 100%;
  z-index: 50;
  border-bottom: $border--default;
  background-color: $color--black;

  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    @include container;
    height: $header-height-s;
    padding-top: $header-padding-s;
    padding-bottom: $header-padding-s;

    @include from($breakpoint--desktop) {
      height: $header-height-m;
      padding-top: $header-padding-m;
      padding-bottom: $header-padding-m;
    }
  }
  &__logo-player {
    display: flex;
    align-items: center;
    min-width: 0;
  }
  &__navigation {
    display: flex;
    align-items: center;
  }
}
</style>
