<template>
  <div class="channels">
    <h1>Channels</h1>
    <section class="channels__list">
      <div v-for="item in items" :key="item.id" class="channels__list-item">
        <channel
          :title="item.display_name"
          :alias="item.path.alias"
          :image="item.field_image"
        />
      </div>
    </section>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
import storeUtil from '@/util/storeUtil'
import jsonApi from '@/api/jsonApiClient'
import Channel from '@/components/Channel'

const storeNamespace = 'channels'

export default {
  components: {
    Channel
  },
  computed: {
    ...mapGetters(storeNamespace, ['items'])
  },
  async fetch(context) {
    await storeUtil.fetch(context.store, storeNamespace)
  },
  methods: {
    infiniteHandler($state) {
      storeUtil.infiniteHandler(this.$store, $state, storeNamespace)
    }
  }
}
</script>

<style lang="scss" scoped>
.channels {
  &__list {
    @include stream-list;
  }
  &__list-item {
    @include stream-list-item;
  }
}
</style>
