<template>
  <nuxt-link :to="alias" class="channel__link">
    <article class="channel">
      <div class="channel__embed-wrapper">
        <responsive-image
          v-if="image.uri"
          :image="image"
          :altFallback="title"
          sizes="(min-width: 960px) 50vw, 100vw"
          class="channel__image"
        />
      </div>

      <h2 class="channel__title">
        {{ title }}
      </h2>
    </article>
  </nuxt-link>
</template>

<script>
import ResponsiveImage from '@/components/global/ResponsiveImage'
export default {
  components: {
    ResponsiveImage
  },
  props: {
    title: {
      type: String,
      default: ''
    },
    alias: {
      type: String,
      default: ''
    },
    image: {
      type: Object,
      default: () => {
        return {}
      }
    }
  }
}
</script>

<style lang="scss" scoped>
.channel {
  &__link {
    @include underline-remove;
  }
  &__embed-wrapper {
    @include aspect-ratio-parent(16/9);
    border: $border--default;
    margin-bottom: $gutter--s;
  }
  &__title {
    @include font-styles(s, m);
  }
  &__image {
    @include aspect-ratio-child;
  }
}
</style>
