<template>
  <article class="program-item">
    <h3 class="program-item__title">
      {{ title }}
    </h3>
    <div v-if="longDate" class="program-item__date">
      {{ formattedDateRange }}
    </div>
    <div v-else class="program-item__date">
      {{ formattedDateRangeTime }}
    </div>
    <div v-if="user.path.alias" class="program-item__channel">
      Channel:
      <nuxt-link :to="user.path.alias">{{ user.display_name }}</nuxt-link>
    </div>
    <div v-if="links.length" class="program-item__links">
      <social-links :items="links" display-titles />
    </div>
  </article>
</template>

<script>
import fromattedDate from '@/mixins/formattedDate'
import SocialLinks from '@/components/global/SocialLinks'
export default {
  components: {
    SocialLinks
  },
  mixins: [fromattedDate],
  props: {
    title: {
      type: String,
      default: ''
    },
    embedCode: {
      type: String,
      default: ''
    },
    date: {
      type: Object,
      default: () => {}
    },
    text: {
      type: String,
      default: ''
    },
    links: {
      type: Array,
      default: () => {
        return []
      }
    },
    user: {
      type: Object,
      default: () => {
        return {}
      }
    },
    longDate: {
      type: Boolean,
      default: false
    }
  }
}
</script>

<style lang="scss" scoped>
.program-item {
  &__title {
    @include font-styles(s, m);
    margin: 0;
  }
  &__text {
    margin-top: $gutter--s;
  }

  &__links {
    margin-top: $gutter--s;
    margin-bottom: -$gutter--s;
  }
}
</style>
