<template>
  <div class="stream-list">
    <div
      v-for="item in streamsWithEmbedCode"
      :key="item.id"
      class="stream-list__item"
    >
      <stream
        :title="item.title"
        :embedCode="item.field_embed_code.value"
        :date="item.field_date_range"
        :text="item.field_text"
        :links="item.field_links"
        :image="image(item)"
        :user="item.uid"
        :preview="preview"
      />
    </div>
  </div>
</template>

<script>
import Stream from '@/components/Stream'
export default {
  components: {
    Stream
  },
  props: {
    items: {
      type: Array,
      default: () => {
        return []
      }
    },
    preview: {
      type: Boolean,
      default: false
    }
  },
  computed: {
    streamsWithEmbedCode() {
      return this.items.filter((stream) => {
        return stream.field_embed_code
      })
    }
  },
  methods: {
    image(item) {
      if (this.preview && typeof item.field_image_media === 'object') {
        return item.field_image_media.field_media_image
      } else {
        return {}
      }
    }
  }
}
</script>

<style lang="scss" scoped>
.stream-list {
  @include stream-list;
  &__item {
    @include stream-list-item;
  }
}
</style>
