<template>
  <article class="stream">
    <div @click="handleClick" class="stream__embed-wrapper">
      <div v-if="showEmbed" v-html="embedCode" class="stream__embed-code"></div>
      <div v-if="!showEmbed" class="stream__image-wrapper">
        <responsive-image
          v-if="image.uri"
          :image="image"
          :altFallback="title"
          sizes="(min-width: 960px) 50vw, 100vw"
          class="stream__image"
        />
        <button class="stream__controls"></button>
      </div>
    </div>

    <h2 class="stream__title">
      {{ title }}
    </h2>
    <div v-if="date" class="stream__date">
      {{ formattedDateRange }}
    </div>
    <p v-if="user.path" class="stream__channel">
      Channel:
      <nuxt-link :to="user.path.alias">{{ user.display_name }}</nuxt-link>
    </p>
    <p v-if="text">
      {{ text }}
    </p>
    <div v-if="links.length" class="stream__links">
      <social-links :items="links" display-titles />
    </div>
  </article>
</template>

<script>
import fromattedDate from '@/mixins/formattedDate'
import ResponsiveImage from '@/components/global/ResponsiveImage'
import SocialLinks from '@/components/global/SocialLinks'
export default {
  components: {
    ResponsiveImage,
    SocialLinks
  },
  mixins: [fromattedDate],
  props: {
    title: {
      type: String,
      default: ''
    },
    embedCode: {
      type: String,
      default: ''
    },
    date: {
      type: Object,
      default: () => {}
    },
    text: {
      type: String,
      default: ''
    },
    links: {
      type: Array,
      default: () => {
        return []
      }
    },
    image: {
      type: Object,
      default: () => {
        return {}
      }
    },
    user: {
      type: Object,
      default: () => {
        return {}
      }
    },
    preview: {
      type: Boolean,
      default: false
    }
  },
  data() {
    return {
      clicked: false
    }
  },
  computed: {
    showEmbed() {
      return !this.preview || this.clicked
    }
  },
  methods: {
    handleClick() {
      this.clicked = true
    }
  }
}
</script>

<style lang="scss" scoped>
.stream {
  &__embed-wrapper {
    @include aspect-ratio-parent(16/9);
    border: $border--default;
    margin-bottom: $gutter--s;
  }
  &__title {
    @include font-styles(s, m);
    margin-bottom: 0;
  }
  &__image {
    @include aspect-ratio-child;
  }

  &__image-wrapper {
    &:hover {
      cursor: pointer;
    }
  }

  &__links {
    margin-top: $gutter--s;
  }

  &__controls {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50px;
    height: 50px;
    padding: 0;
    margin: 0;
    background-color: $color--black;
    z-index: 1;
    border-radius: 100%;
    border: $border--strong;
    background-size: 80%;
    background-position: center;
    overflow: hidden;
    cursor: pointer;
    transition: 0.1s background-color, 0.1s transform, 0.2s opacity;
    will-change: opacity;

    &:hover {
      opacity: $opactiy-m;
    }

    &::after {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-35%, -50%);
      border: 0;
      background: transparent;
      box-sizing: border-box;
      width: 0;
      height: 25px;

      border-color: transparent transparent transparent $color--white;
      transition: 100ms all ease;
      cursor: pointer;
      border-style: solid;
      border-width: 12px 0 12px 20px;

      /*&--paused {
      border-style: double;
      border-width: 0px 0 0px 30px;
    }

    &--playing {
      border-style: solid;
      border-width: 18px 0 18px 30px;
    }*/
    }
  }
}
</style>

<style lang="scss">
.stream {
  iframe,
  audio {
    @include aspect-ratio-child;
    width: 100%;
    height: 100%;
  }
  img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
}
</style>
