<template>
  <div @click="handleLiveStreamClick" class="front">
    <p class="large-text">
      kapsel.space is an independent platform that provides a curated collection
      of live streams. The purpose is to provide support and visibility for
      cultural and activist actors in times of quarantine.
    </p>
    <section v-if="liveStreams.length" class="front__live">
      <h1 class="spearator">Live now</h1>
      <stream-list :items="liveStreams" preview />
    </section>
    <section v-if="program.length" class="front__program">
      <h1 class="spearator">Upcoming streams</h1>
      <div class="front__program-content">
        <program-item
          v-for="item in program"
          :key="item.id"
          :title="item.title"
          :date="item.field_date_range"
          :text="item.field_text"
          :links="item.field_links"
          :user="item.uid"
          long-date
          class="front__program-item"
        />
      </div>
      <nuxt-link to="/program" class="button">Full program</nuxt-link>
    </section>
    <section v-if="recordings.length" class="front__recordings">
      <h1 class="spearator">Latest recordings</h1>
      <stream-list :items="recordings" preview />
      <nuxt-link to="/recordings" class="button">All recordings</nuxt-link>
    </section>
    <modal v-if="!donationPopupShowed" @close="donationPopupClosed">
      <template #body>
        <p>
          Dear visitor
        </p>
        <p>
          Thank you for your visit. We believe that culture should not be hidden
          behind a paywall. All our streams are accessible freely. But culture
          has its worth and our artists also depend on money. If you can afford
          it, please contribute. You can use the “Donate” Link under every
          stream to donate directly to the artist.
        </p>
        <p>
          Thank you!
        </p>
      </template>
    </modal>
  </div>
</template>

<script>
import _ from 'lodash'
import { mapGetters, mapState } from 'vuex'
import storeUtil from '@/util/storeUtil'
import jsonApi from '@/api/jsonApiClient'
import StreamList from '@/components/StreamList'
import ProgramItem from '@/components/ProgramItem'
import Modal from '@/components/global/Modal'

export default {
  components: {
    StreamList,
    ProgramItem,
    Modal
  },
  data() {
    return {
      streams: [],
      fetchTimer: null,
      offset: 5 * 60 * 1000,
      donationPopupShowed: false
    }
  },

  computed: {
    ...mapGetters('program', {
      programItems: 'itemsInFutureOffset'
    }),
    ...mapGetters('recordings', {
      recordingItems: 'itemsEndedOffset'
    }),
    ...mapState('global', ['now', 'liveOffset']),
    ...mapGetters('global', ['randomBackupStreams']),
    program() {
      return this.programItems.slice(0, 3)
    },
    recordings() {
      return this.recordingItems.slice(0, 4)
    },
    liveStreams() {
      return this.streams.filter((stream) => {
        const start = new Date(stream.field_date_range.value)
        const end = new Date(stream.field_date_range.end_value)

        const hasStarted = start.getTime() < this.getDateAhead().getTime()
        const hasNotEnded = end.getTime() > this.getDateAgo().getTime()
        return hasStarted && hasNotEnded
      })
    }
  },
  created() {
    this.getLiveStreams()
    this.fetchTimer = setInterval(this.getLiveStreams, 1 * 60 * 1000)
    this.$store.dispatch('global/startInterval')
    storeUtil.fetch(this.$store, 'program')
    storeUtil.fetch(this.$store, 'recordings')
  },
  beforeDestroy() {
    this.cancelAutoUpdate()
  },
  methods: {
    async getLiveStreams() {
      this.streams = await this.fetchLiveStreams()
    },
    async fetchLiveStreams() {
      const now = _.cloneDeep(this.now)
      now.setMilliseconds(0)
      now.setSeconds(0)
      now.setMinutes(0)

      const queryOptions = {
        filter: {
          status: {
            value: 1
          },
          field_date_range_end: {
            path: 'field_date_range.end_value',
            operator: '>',
            value: now.toISOString()
          }
        },
        include: ['field_image', 'uid'],
        fields: {
          'node--stream': [
            'title,path,field_image,field_date_range,field_embed_code,uid,field_text,field_links,uid'
          ],
          'file--file': ['uri,meta'],
          'user--user': ['display_name,path']
        },
        sort: {
          changed: {
            path: 'field_date_range.value',
            direction: 'DESC'
          }
        }
      }

      const streams = await jsonApi.get(
        'node/stream',
        this.$axios,
        queryOptions
      )

      return streams
    },
    cancelAutoUpdate() {
      clearInterval(this.fetchTimer)
    },
    getDateAgo() {
      return new Date(this.now.getTime() - this.liveOffset)
    },
    getDateAhead() {
      return new Date(this.now.getTime() + this.liveOffset)
    },
    handleLiveStreamClick(event) {},
    donationPopupClosed() {
      this.donationPopupShowed = true
    }
  }
}
</script>

<style lang="scss" scoped>
.front {
  &__program {
    @include program-wrapper;
  }
}
.festival-teaser {
  width: 400px;
  display: block;
  margin: 0 auto;
  border: $border--default;
}
</style>
