<template>
  <div class="imprint text-container">
    <h1>Imprint</h1>
    <div class="imprint__content">
      <p>
        Verein raV<br />
        Erismannstr. 31<br />
        8004 Zürich
      </p>
      <p>
        <a href="mailto:kapsel@kapsel.space">kapsel@kapsel.space</a>
      </p>
    </div>
  </div>
</template>
