<template>
  <div class="about text-container">
    <h1>About</h1>
    <div class="about__content">
      <div class="large-text">
        <p>
          Streaming against isolation: a platform from Zurich is combining the
          creative forces that emerge from the shutdown.
        </p>
      </div>
      <p>
        kapsel.space is an independent platform that provides a curated
        collection of live streams. The purpose is to provide support and
        visibility for cultural and activist actors in times of quarantine. The
        collection of live streams will be archived on our platform.
      </p>

      <h2>Why</h2>
      <p>
        The general ban of live performances is heavily impacting the entire
        cultural scene. Particularly the music business has been hit very hard.
        The lack of concerts, performances and exhibitions is causing huge
        financial losses and endangers structurally poorly protected artists
        with existential crises. In these uncertain times live streaming offers
        the possibility to still go wild creatively, stay connected - and make
        some money. Since day one of the Corona shutdown a multitude of new
        streams of living room concerts and sofa readings are showing up daily
        on instagram, facebook et al. kapsel.space is serving as a digital space
        to make this variety of streams visible - independently from the social
        media giants.
      </p>

      <h2>Broadcast on kapsel.space</h2>
      <p>
        If you host or plan a live stream, feel free to contact us and be part
        of the community:
        <a href="mailto:kapsel@kapsel.space">kapsel@kapsel.space</a>.<br />
        This platform was built to bring people together and to support each
        other. kapsel.space takes a stand against cultural and social isolation
        and stands up for solidarity – also financially. So far the
        contributions mostly come from Switzerland but the platform is open to
        streams from all sorts of art forms and places around the globe. The
        collective behind kapsel.space reserves the right to reject streams of
        morally reprehensible or discriminating content. Also if certain streams
        are too similar to already streamed content.
      </p>
      <h2>Who’s behind</h2>
      <p>
        The website is online since March 20st 2020. The people behind
        kapsel.space are an interdisciplinary group of different artists and
        cultural actors from Zurich namely around the collectives
        <a href="https://www.perlaton.ch/" target="_blank">Perlaton</a>,
        <a href="https://blaublau.net/" target="_blank">BlauBlau</a> and
        <a href="http://exit.ist/" target="_blank">EXIT</a>.
      </p>

      <h2>Donations</h2>
      <p>
        There are two possibilities of support.
      </p>
      <p>
        On the one hand you can support the individual artists by donating
        directly to their respective streams.
      </p>

      <p>
        On the other hand you can support the platform. In this case the
        donations will be divided as follows: 50% goes to the artists of the
        stream “Bijlefeld”. This stream is operated by the collective behind
        kapsel.space.The loose collective behind kapsel.space is working
        voluntarily. 50% of the donated revenues go to the civilian sea rescue
        <a href="https://sosmediterranee.com/" target="_blank"
          >SOS MEDITERRANEE</a
        >on the borders of Europe. Particularly in times when everybody is
        preoccupied with themselves, the ones who are already on the edge of
        society and legality get completely abandoned. This cannot be allowed to
        happen. Solidarity must be lived across borders and cultures more than
        ever.
      </p>
      <a
        href="https://kapsel.payrexx.com/en/pay?cid=b993236e"
        target="_blank"
        class="button"
        >Donate</a
      >
      <h2>Friends</h2>
      <p>
        <a href="https://bildmitton.tv" target="_blank">Bild mit Ton</a><br />
        Creating creative videos
      </p>
      <p>
        <a href="http://gds.fm/" target="_blank">GDS.FM</a><br />
        Zürichs Radio gegen den Strom.
      </p>
      <p>
        <a href="https://community.ozelot.ltd" target="_blank">Ozelot Ltd</a
        ><br />
        A DJ community live stream
      </p>
      <p>
        <a href="https://www.instagram.com/radiozwyer/" target="_blank"
          >Radio Zwyer</a
        ><br />
        #stayathome - time? No problemo, we deliver you fresh tunes, into your
        livingroom!
      </p>
      <p>
        <a
          href="https://www.crowdify.net/de/projekt/stoff-fuer-den-shutdown/project"
          target="_blank"
          >Stoff für den Shutdown</a
        ><br />
        Ein Literaturmagazin für Gemeinschaft im Lockdown. STOFF FÜR DEN
        SHUTDOWN ist ein Print-Zine mit Texten von jetzt für jetzt. Es soll
        solange erscheinen, bis wir uns alle wieder bedenkenlos umarmen können.
      </p>
      <p>
        <a href="https://www.facebook.com/glitteratur/" target="_blank">Viral</a
        ><br />
        Das online Literaturfestival
      </p>
      <p>
        <a href="https://www.attribute.ch/" target="_blank">ATTRIBUTE</a><br />
        The person who built the platform kaspel.space
      </p>
      <p>
        <a href="https://bureaumia.ch/" target="_blank">BUREAU MIA</a><br />
        Our very own graphic support
      </p>
      <p>
        <a href="http://velvetyne.fr/" target="_blank">SPORTING GROTESQUE</a
        ><br />
        The typeface we use for this website – many thanks to Velvetyne Type
        Foundry
      </p>
    </div>
  </div>
</template>
