<template>
  <div class="privacy text-container">
    <h1>Privacy policy</h1>
    <div class="privacy__content">
      <p>
        Data protection is self-evident for us. Therefore we not only follow the
        usual rules - we also do not grant ourselves any special rights in the
        fine prints. This means: We are only handling personal data necessary
        and evident for the purposes and for the time intended. They will not be
        passed on to third parties. To do so we will use services and servers in
        Switzerland, Germany and Austria.
      </p>
      <ul>
        <li>
          We do not use cookies nor do we store IP addresses which allow
          tracking of individuals.
        </li>
        <li>
          We do track visits to our website using
          <a href="https://matomo.org/" target="_blank">Matomo</a>. We do not
          set cookies to identify individual users nor do we track their IP
          addresses.
        </li>
        <li>
          We use
          <a href="https://vimeo.com/" target="_blank">Vimeo</a>,
          <a href="https://www.youtube.com/" target="_blank">Youtube</a>,
          <a href="https://www.twitch.tv/" target="_blank">Twitch</a>,
          <a href="https://www.facebook.com/" target="_blank">Facebook</a> and
          <a href="https://www.instagram.com/" target="_blank">Instagram</a> to
          embed live-streams and videos which can lead to the transfer of
          cookies and eventually other data.
        </li>
        <li>
          The hosting is provided by
          <a href="https://zeit.co/" target="_blank">zeit.co</a> and
          <a href="https://www.amazee.io/" target="_blank">amazee.io</a>.
        </li>
        <li>
          We use
          <a href="https://www.instagram.com/" target="_blank">Instagram</a> and
          <a href="https://telegram.org/" target="_blank">Telegram</a> for the
          promotion of kapsel.space. The data protection regulations of the
          respective services apply to those platforms.
        </li>
      </ul>
    </div>
  </div>
</template>
