<template>
  <div>
    <h1>Program</h1>
    <div class="program">
      <!-- @TODO: Why is the map item inside an array[1]?! -->
      <section
        v-for="(day, index) in itemsByDate"
        :key="index"
        class="program__day"
      >
        <h2 class="program__day-title">{{ day[1].title }}</h2>
        <div class="program__day-content">
          <program-item
            v-for="item in day[1].items"
            :key="item[1].id"
            :title="item[1].title"
            :date="item[1].field_date_range"
            :text="item[1].field_text"
            :links="item[1].field_links"
            :user="item[1].uid"
            class="program__program-item"
          />
        </div>
      </section>

      <client-only>
        <infinite-loading @infinite="infiniteHandler">
          <div slot="no-more"></div>
          <div slot="no-results"></div>
        </infinite-loading>
      </client-only>
    </div>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
import storeUtil from '@/util/storeUtil'
import ProgramItem from '@/components/ProgramItem'

const storeNamespace = 'program'

export default {
  components: {
    ProgramItem
  },
  computed: {
    ...mapGetters(storeNamespace, ['itemsByDate'])
  },
  async fetch(context) {
    await storeUtil.fetch(context.store, storeNamespace)
  },
  created() {
    this.$store.dispatch('global/startInterval')
  },
  methods: {
    infiniteHandler($state) {
      storeUtil.infiniteHandler(this.$store, $state, storeNamespace)
    }
  }
}
</script>

<style lang="scss" scoped>
.program {
  margin-top: $gutter--xxl;
  &__program-item {
    @include program-item;
  }
  &__day-title {
    border-bottom: $border--light;
    margin: $gutter--xxl 0 0;
    padding: $gutter--m 0;
  }
}
</style>
