<template>
  <div>
    <h1>Recordings</h1>
    <div class="recordings__stream">
      <stream-list :items="itemsEnded" preview />

      <client-only>
        <infinite-loading @infinite="infiniteHandler">
          <div slot="no-more"></div>
          <div slot="no-results"></div>
        </infinite-loading>
      </client-only>
    </div>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
import storeUtil from '@/util/storeUtil'
import StreamList from '@/components/StreamList'

const storeNamespace = 'recordings'

export default {
  components: {
    StreamList
  },

  computed: {
    ...mapGetters(storeNamespace, ['itemsEnded'])
  },
  async fetch(context) {
    await storeUtil.fetch(context.store, storeNamespace)
  },
  methods: {
    infiniteHandler($state) {
      storeUtil.infiniteHandler(this.$store, $state, storeNamespace)
    }
  }
}
</script>
