<template>
  <nuxt-link :to="to" class="back-button inline-icon-container">
    <svg-icon name="arrow-left--light" title="Zurück" />
    {{ title }}
  </nuxt-link>
</template>

<script>
export default {
  props: {
    title: {
      type: String,
      default: 'Back'
    },
    to: {
      type: String,
      default: '/'
    }
  }
}
</script>

<style lang="scss" scoped>
.back-button {
  @include font-styles(xs, s);
  @include underline-remove;
  @include to($breakpoint--mobile) {
    margin: $gutter--s 0 $gutter--l;
  }
  @include from($breakpoint--desktop) {
    margin: $gutter--m 0 $gutter--xl;
  }
}
</style>
