<template>
  <div class="item-filter">
    <input
      id="search"
      ref="search"
      @input="handleFilterInput"
      :value="filters.search"
      type="text"
      name="search"
      class="item-filter__search"
      placeholder="Suche"
    />
    <ul ref="tags" class="item-filter__tags">
      <li v-for="tag in tags" :key="tag.value" class="item-filter__tags-item">
        <input
          :id="'tag-' + tag.value"
          :value="tag.value"
          :checked="tag.value === filters.tag"
          @change="handleFilterInput"
          type="radio"
          name="tags"
        />
        <label :for="'tag-' + tag.value">{{ tag.label }}</label>
      </li>
    </ul>
  </div>
</template>

<script>
export default {
  props: {
    tags: {
      type: Array,
      default: () => {
        return []
      }
    },
    filters: {
      type: Object,
      default: () => {
        return {
          search: '',
          tag: '_all  '
        }
      }
    }
  },
  data() {
    return {}
  },
  methods: {
    handleFilterInput() {
      const filters = {
        search: this.$refs.search.value
      }
      if (this.tags.length) {
        filters.tag = this.$refs.tags.querySelector('input:checked').value
      }
      this.$emit('filterChange', filters)
    }
  }
}
</script>

<style lang="scss" scoped>
.item-filter {
  display: flex;
  margin-bottom: $gutter--xl;
  justify-content: space-between;
  &__search {
    max-width: 320px;
  }
  &__tags {
    display: flex;
    list-style: none;
    white-space: nowrap;
    margin: 0;
  }
  &__tags-item {
    margin-left: $gutter--s;
  }
}
</style>
