<template>
  <transition name="default">
    <div
      class="modal"
      role="dialog"
      aria-labelledby="modalTitle"
      aria-describedby="modalDescription"
    >
      <header class="modal__header">
        <navigation-toggle @click="close" state class="modal__close" />
      </header>
      <section id="modalDescription" class="modal__body">
        <slot name="body"> </slot>
      </section>
    </div>
  </transition>
</template>

<script>
import NavigationToggle from '@/components/layout/NavigationToggle'
export default {
  components: {
    NavigationToggle
  },

  mounted() {
    window.addEventListener('keyup', (e) => {
      if (e.keyCode === 27) {
        this.close()
      }
    })
  },
  methods: {
    close() {
      this.$emit('close')
    }
  }
}
</script>

<style lang="scss" scoped>
.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 100%;
  max-width: 600px;
  background: $color--black;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  z-index: 200;
  border: 1px solid $color--white;
  transform: translate(-50%, -50%);

  @include to($breakpoint--mobile) {
    height: 100vh;
    padding-top: 40px;
  }
}

.modal__title {
  margin: 0;
  @include font-size(l);
}
.modal__body {
  position: relative;
  padding: $gutter--m;
  flex-grow: 1;
  color: $color--white;
  display: flex;
  flex-direction: column;
  @include to($breakpoint--mobile) {
    overflow-y: scroll;
  }

  @include from($breakpoint--desktop) {
    justify-content: center;
  }
}

.modal__header {
  position: relative;
}

.modal__close {
  position: absolute;
  top: $gutter--s;
  right: $gutter--s;
  z-index: 10;
}
</style>

<style lang="scss">
.modal {
  .navigation-toggle {
    display: block;
  }
}
</style>
