<template>
  <div>
    <img
      :data-srcset="srcSet"
      :sizes="sizes"
      :alt="alt"
      :v-aspect-ratio="ratioString"
      class="lazyload"
      src="data:image/gif;base64,R0lGODlhAQABAIABAP///wAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
    />
    <script v-html="jsonLd" type="application/ld+json"></script>
  </div>
</template>

<script>
export default {
  props: {
    image: {
      type: Object,
      default: () => {}
    },
    sizes: {
      type: String,
      default: '100vw'
    },
    altFallback: {
      type: String,
      default: ''
    },
    imageStyleBase: {
      type: String,
      default: 'default'
    }
  },
  data() {
    return {
      styles: {
        [`${this.imageStyleBase}_xs`]: 320,
        [`${this.imageStyleBase}_s`]: 640,
        [`${this.imageStyleBase}_m`]: 960,
        [`${this.imageStyleBase}_l`]: 1280,
        [`${this.imageStyleBase}_xl`]: 1440,
        [`${this.imageStyleBase}_xxl`]: 1920,
        [`${this.imageStyleBase}_xxxl`]: 2560
      }
    }
  },
  computed: {
    imageUri() {
      return this.image.uri.value
    },
    alt() {
      return this.image.meta.alt ? this.image.meta.alt : this.altFallback
    },
    width() {
      return this.image.meta.width
    },
    height() {
      return this.image.meta.height
    },
    srcSet() {
      const srcSet = []
      for (const key in this.styles) {
        srcSet.push(this.buildImageUrl(key))
      }
      return srcSet.join(', ')
    },
    ratioString() {
      return `'${this.width}:${this.height}'`
    },
    fallback() {
      return this.buildImageUrl(`${this.imageStyleBase}_xxxl`)
    },
    jsonLd() {
      return {
        '@context': 'http://schema.org',
        '@type': 'ImageObject',
        contentUrl: this.fallback,
        description: this.alt
      }
    }
  },
  methods: {
    buildImageUrl(style) {
      const imageBaseUrl =
        process.env.HOME_OFFICE_API_SERVER + '/sites/default/files/styles'

      const imageFilePath = this.imageUri.replace('public://', '')
      return `${imageBaseUrl}/${style}/public/${encodeURI(imageFilePath)} ${
        this.styles[style]
      }w`
    }
  }
}
</script>

<style>
img {
  width: 100%;
}
</style>
