<template>
  <div class="social-links">
    <a
      v-for="(item, i) in parsedItems"
      :key="i"
      :href="item.uri"
      :class="['social-links__link--' + item.domain]"
      class="social-links__link"
      target="_blank"
    >
      <svg-icon
        :name="item.icon"
        :title="item.title"
        :class="['social-links__icon', 'social-links__icon--' + item.domain]"
      />
      <div
        v-text="item.title"
        :class="{ 'social-links__title--hidden': !displayTitles }"
        class="social-links__title"
      />
    </a>
  </div>
</template>

<script>
export default {
  props: {
    items: {
      type: Array,
      default: () => []
    },
    displayTitles: {
      type: Boolean,
      default: false
    }
  },
  data() {
    return {
      icons: {
        generic: 'social--generic',
        facebook: 'social--facebook',
        twitter: 'social--twitter',
        hearthis: 'social--hearthis',
        instagram: 'social--instagram',
        vimeo: 'social--vimeo',
        youtube: 'social--youtube',
        bandcamp: 'social--bandcamp',
        mixcloud: 'social--mixcloud',
        soundcloud: 'social--soundcloud',
        telegram: 'social--telegram',
        t: 'social--telegram',
        paypal: 'social--money',
        payrexx: 'social--money',
        patreon: 'social--money'
      }
    }
  },
  computed: {
    parsedItems() {
      const parsedItems = []
      for (const key in this.items) {
        if (this.items.hasOwnProperty(key)) {
          const element = this.items[key]
          const domain = this.parseDomain(element.uri)
          const icon = this.icons.hasOwnProperty(domain)
            ? this.icons[domain]
            : this.icons.generic

          parsedItems.push({
            ...element,
            icon,
            domain
          })
        }
      }
      return parsedItems
    }
  },
  methods: {
    parseDomain(uri) {
      const domain = uri
        .replace('http://', '')
        .replace('https://', '')
        .replace('www.', '')
        .split(/[/?#]/)[0]
      const dotCount = (domain.match(/\./g) || []).length
      return domain.split(/[.]/)[dotCount - 1]
    }
  }
}
</script>

<style lang="scss" scoped>
.social-links {
  display: flex;
  flex-wrap: wrap;

  &__link {
    display: flex;
    margin-right: $gutter--l;
    margin-bottom: $gutter--s;
    @include underline-remove;
    .page-footer & {
      @include to($breakpoint--mobile) {
        margin: 0 $gutter--xxs;
      }

      @include from($breakpoint--desktop) {
        margin-right: 0;
        margin-left: $gutter--s;
      }
    }

    &--paypal,
    &--payrexx,
    &--patreon {
      color: gold;
    }
  }
  &__title {
    &--hidden {
      display: none;
    }
  }
  &__icon {
    height: $icon-size--s;
    width: $icon-size--s;
    margin-right: $gutter--xs;
    margin-top: -0.2em;

    @include from($breakpoint--desktop) {
      margin-top: -0.1em;
    }

    &--mixcloud {
      width: $icon-size--s / 17 * 30;
    }

    &--twitter {
      width: $icon-size--s / 23 * 30;
    }

    &--paypal,
    &--payrexx,
    &--patreon {
      animation: spin 4s linear 0s infinite;
    }
  }
}
</style>
