
.overlay-enter-active,
.overlay-leave-active {
    transition: all .2s ease;
}

.overlay-enter, .overlay-leave-active {
    opacity: 0;
}

.overlay-enter-active .overlay__wrap,
.overlay-leave-active .overlay__wrap {
    transition: transform .4s ease;
}

.overlay-enter  .overlay__wrap,
.overlay-leave-active  .overlay__wrap{
    transform: scale(.8);
}
