.fade-player-enter-active .links,
.fade-player-leave-active .links,
.fade-player-enter-active .member-box,
.fade-player-leave-active .member-box
{
    transition: opacity 0.2s ease;
}

.fade-player-enter .links,
.fade-player-leave-active .links,
.fade-player-enter .member-box,
.fade-player-leave-active .member-box
{
    opacity: 0;
}


.fade-player-leave-active .vinyl-controls {
    opacity: 0;
}

.fade-player-leave-active .vinyl-disc-wrap
{
    animation: throw-out-vinyl .5s cubic-bezier(.53,.05,.91,.61);
    animation-delay: .1s;
    animation-fill-mode: forwards;
}


