<template>
  <article class="channel">
    <back-button to="/channels" title="Back to all channels" />
    <h1 class="channel__title">{{ item.display_name }}</h1>
    <p class="channel__text">
      {{ item.text }}
    </p>
    <div class="stream__links">
      <social-links :items="item.links" display-titles />
    </div>
    <section v-if="program.length" class="channel__program">
      <h1 class="spearator">Upcoming streams</h1>
      <div class="channel__program-content">
        <program-item
          v-for="item in program"
          :key="item.id"
          :title="item.title"
          :date="item.field_date_range"
          :text="item.field_text"
          :links="item.field_links"
          :user="item.uid"
          long-date
          class="channel__program-item"
        />
      </div>
    </section>
    <section v-if="recordings.length" class="channel__stream-list">
      <h1 class="spearator">Recordings</h1>
      <stream-list :items="recordings" preview />
    </section>
  </article>
</template>

<script>
import jsonApi from '@/api/jsonApiClient'
import entityByRoute from '@/util/entityByRoute'
import BackButton from '@/components/global/BackButton'
import StreamList from '@/components/StreamList'
import SocialLinks from '@/components/global/SocialLinks'
import ProgramItem from '@/components/ProgramItem'

export default {
  components: {
    BackButton,
    StreamList,
    SocialLinks,
    ProgramItem
  },
  async asyncData(context) {
    const options = {
      include: ['field_image'],
      fields: {
        'user--user': [
          'id,display_name,roles,field_text,field_links,field_donate_link,path'
        ],
        'file--file': ['uri,meta']
      }
    }

    const responses = await entityByRoute(
      context.route.path,
      options,
      context.app.$axios
    )

    const data = responses['entity#uri{0}'].data

    const item = {
      display_name: data.display_name,
      image: data.field_image,
      text: data.field_text,
      links: data.field_links
    }

    const recordingQueryOptions = {
      filter: {
        status: {
          value: 1
        },
        field_show_in_recordings: {
          value: 1
        },
        uid: {
          path: 'uid.id',
          value: data.id
        }
      },
      include: [
        'field_image_media,field_image_media,field_image_media.field_media_image'
      ],
      fields: {
        'node--stream': [
          'title,path,field_image,field_date_range,field_embed_code,uid,field_text,field_links,uid,field_image_media'
        ],
        'file--file': ['uri,meta'],
        'media--image': ['field_media_image,created']
      },
      sort: {
        changed: {
          path: 'field_date_range.value',
          direction: 'DESC'
        }
      }
    }

    const recordings = await jsonApi.get(
      'node/stream',
      context.$axios,
      recordingQueryOptions
    )

    const now = new Date()
    now.setMilliseconds(0)
    now.setSeconds(0)
    now.setMinutes(0)

    const programQueryOptions = {
      filter: {
        status: {
          value: 1
        },
        field_date_range_start: {
          path: 'field_date_range.end_value',
          operator: '>',
          value: now.toISOString()
        },
        uid: {
          path: 'uid.id',
          value: data.id
        }
      },
      include: ['field_image,uid'],
      fields: {
        'node--stream': [
          'title,path,field_image,field_date_range,field_embed_code,field_text,field_links,uid'
        ],
        'file--file': ['uri,meta'],
        'user--user': ['display_name,path']
      },
      sort: {
        changed: {
          path: 'field_date_range.value',
          direction: 'ASC'
        }
      }
    }

    const program = await jsonApi.get(
      'node/stream',
      context.$axios,
      programQueryOptions
    )

    return {
      item,
      recordings,
      program
    }
  }
}
</script>

<style lang="scss" scoped>
.channel {
  &__stream-list {
    margin-top: $gutter--xxl;
  }
  &__program {
    @include program-wrapper;
  }
}
</style>
